{% extends  "layout.html"  %}

{% block body %} 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Updating</title>
  </head>
  <body>
    <h1>Updating Contact</h1>
    <hr>

    <form action="/update/{{contact.id}}" method="POST">
      <input
        type="text"
        name="fullname"
        placeholder="Your name"
        value="{{contact.fullname}}"
      />
      <input
        type="email"
        name="email"
        placeholder="Your email"
        value="{{contact.email}}"
      />
      <input
        type="text"
        name="phone"
        placeholder="Your phone"
        value="{{contact.phone}}"
      />

      <button class="btn btn-primary btn-sm">Update</button>
    </form>
  </body>
</html>

{%endblock%}
